.home-content {
  .image-row {
    display: block;
    margin-bottom: 32px;
  }

  .image {
    text-align: center;
    font-size: 12px;
    color: #5D707F;
    position: relative;
    display: inline-block;

    span {
      display:flex;
      justify-content:center;

      h2 {
        position: absolute;
        top: 35%;
        font-weight: bold;
        color: white;
        font-family: inherit;
        opacity: 0.9;
        font-size: 5vw;
        text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
     }
    }

  }

  .image__photo {
    width: 100%;
    height: 75%;
    display: block;
  }

  .image__credit {
    color: #5D707F;
  }


  .home__summary {
    font-size: 32px;
    color: #073B4C;
  }

  .home__cards {
    margin-top: 32px;

    .card {
      margin-top: 24px;
      margin-bottom: 32px;

      &__image-credit {
        text-align: center;
        font-size: 12px;
        color: #5D707F;
      }
    }

    .btn {
      width: 100%;

      a {
        color: white;

        &:hover {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
