.navigationBar {
  margin-bottom: 40px;

  .navbar {
    background-color: #FF6B6B !important;

    .navbar-brand {
      margin: 8px;
    }
  }

  a {
    color: white;
    opacity: 0.75;

    &:hover {
      color: white;
      opacity: 1;
    }
  }
}
