.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .fa-icon {
    width: 100%;
    margin-bottom: 16px;
  }

  .container--body {
    text-align: center;
  }

  .container--header {
    text-align: center;
  }
}
