.home-content .image-row {
  display: block;
  margin-bottom: 32px; }

.home-content .image {
  text-align: center;
  font-size: 12px;
  color: #5D707F;
  position: relative;
  display: inline-block; }
  .home-content .image span {
    display: flex;
    justify-content: center; }
    .home-content .image span h2 {
      position: absolute;
      top: 35%;
      font-weight: bold;
      color: white;
      font-family: inherit;
      opacity: 0.9;
      font-size: 5vw;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.home-content .image__photo {
  width: 100%;
  height: 75%;
  display: block; }

.home-content .image__credit {
  color: #5D707F; }

.home-content .home__summary {
  font-size: 32px;
  color: #073B4C; }

.home-content .home__cards {
  margin-top: 32px; }
  .home-content .home__cards .card {
    margin-top: 24px;
    margin-bottom: 32px; }
    .home-content .home__cards .card__image-credit {
      text-align: center;
      font-size: 12px;
      color: #5D707F; }
  .home-content .home__cards .btn {
    width: 100%; }
    .home-content .home__cards .btn a {
      color: white; }
      .home-content .home__cards .btn a:hover {
        color: white;
        text-decoration: none; }
