.navigationBar {
  margin-bottom: 40px; }
  .navigationBar .navbar {
    background-color: #FF6B6B !important; }
    .navigationBar .navbar .navbar-brand {
      margin: 8px; }
  .navigationBar a {
    color: white;
    opacity: 0.75; }
    .navigationBar a:hover {
      color: white;
      opacity: 1; }
