.container {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .container .fa-icon {
    width: 100%;
    margin-bottom: 16px; }
  .container .container--body {
    text-align: center; }
  .container .container--header {
    text-align: center; }
