.team-content .image-row {
  display: block;
  margin-bottom: 32px; }

.team-content .image {
  text-align: center;
  font-size: 12px;
  color: #5D707F;
  position: relative;
  display: inline-block; }

.team-content span {
  display: flex;
  justify-content: center; }
  .team-content span h2 {
    position: absolute;
    top: 35%;
    font-weight: bold;
    color: white;
    font-family: inherit;
    opacity: 0.9;
    font-size: 5vw;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.team-content .image__photo {
  width: 100%;
  height: 75%;
  display: block; }

.team-content .image__credit {
  color: #5D707F; }

.team-content .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.team-content .card-deck {
  width: 100%;
  align-items: center; }

.team-content .team__cards {
  margin-top: 32px; }

.team-content .team__contact-btn {
  margin-top: 40px;
  margin-bottom: 32px; }
